<main class="content">
  <article class="mt-4 mb-6">
    <header class="mb-5">
      <h1 class="blog-title mb-1">
        A Relatively Secure LEMP Server Stack Setup in Ubuntu 18.04 LTS + phpMyAdmin
      </h1>
      <small>
        August 16, 2020 • 20 min read
      </small>
    </header>
    <%= @content %>
  </article>
</main>
