// * {
//   outline: 1px solid hsl(0deg, 100, 90);
// }

.page-wrapper {
  max-width: 768px;
  height: 100vh;
  margin: 0 auto;
}

.brand-title {
  font-weight: 900;
}

.inner-content {
  padding: 12px;
}
