<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</head>
<body>
  <section class="section">
    <header>
      <nav class="navbar">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <h1 class="title is-4">Blog</h1>
          </a>
          <div class="navbar-burger burger" data-target="navbarMain">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div id="navbarMain" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="/demo/login">
              Login
            </a>
          </div>

        </div>
      </nav>
    </header>
  </section>

  <main role="main" class="container is-fluid">
    <%= @inner_content %>
  </main>
</body>
</html>
